--extra-index-url https://download.pytorch.org/whl/cu126
torch==2.9.1
torchvision==0.24.1
omegaconf
torchmetrics
fvcore
iopath
xformers==0.0.33.post2
submitit
--extra-index-url https://pypi.nvidia.com
cuml-cu11
